.fontjasa{
	font-size: 15px;
}
.line-tambah-jasa{
	border-width: 2px;
}
.none{
	display: none;
}
.mid{
	text-align: center;
}
.marginleft{
	padding-right: 90px;
}
.inline{
	display: inline-block;
}
.marbot{
  margin-bottom: 20px;
}
.marbot-2{
	margin-bottom: 40px;
}